/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}

/* Style for the search form */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="number"],
form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #45a049;
}

/* Style for the messages */
b {
    display: block;
    margin: 10px auto;
    max-width: 600px;
    padding: 10px;
    background-color: #ffdddd;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    color: #721c24;
}

.offer {
    display: flex;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    width: 800px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.offer-title,
.offer-description {
    margin-bottom: 10px;
    margin-top: 10px;
}

.offer-title a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: #77aaff;
}

.offer-title a:hover {
    color: #145d93;
}

.offer-title a:active {
    color: #77aaff;
}

.offer-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
}

.offer-image {
    width: 50%;
}

.offer-image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
