{% block header %}
<header>
    <div class="header-container">
        <div class="logo">
            <h1><a href="{% url 'main' %}">Оренда Обладнання Онлайн</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url "main" %}#about" class="nav-link">Про Нас</a></li>
                <li><a href="{% url "main" %}#features" class="nav-link">Можливості</a></li>
                <li><a href="{% url "main" %}#contact" class="nav-link">Контакти</a></li>
                <li><a href="{% url "search" %}" class="nav-link">Пошук</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account' %}" class="nav-link">Привіт, {{ request.user }}</a></li>
                    <li><a href="{% url 'user_offers' %}" class="nav-link">Мої пропозиції</a></li>
                    <li><a href="{% url 'logout' %}" class="nav-link">Вихід</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="nav-link">Вхід</a></li>
                    <li><a href="{% url 'register' %}" class="nav-link">Реєстрація</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
{% endblock %}