<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="username" class="form-control">


    <input type="password" name="password" class="form-control">

    <div>
        <input class="btn login_btn" type="submit" value="Login">
    </div>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</form>

Don't have an account? <a href="{% url 'register' %}">Sign Up</a>

</body>
</html>