{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ offer.title }}</title>
    <link rel="stylesheet" href="{% static 'css/make-offer.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

{% include "header.html" %}

<section class="offer">
    <div class="offer-header">
        <div class="offer-titles">
            <div class="offer-title-cat">
                <span class="offer-title">
                    {{ offer.title }}
                </span>
                <span class="offer-category">
                    {{ offer.category }}
                </span>
            </div>
            <span class="offer-tags">
                {{ offer.tags }}
            </span>
        </div>
        <div class="seller-details">
            Продавець:
            <span class="seller-name">
            {% if seller.first_name or seller.last_name %}
                <a href="http://127.0.0.1:8000/account/{{ seller.username }}"> {{ seller.first_name|capfirst }} {{ seller.last_name|capfirst }}</a>
            {% else %}
                <a href="http://127.0.0.1:8000/account/{{ seller.username }}"> {{ seller.username|capfirst }}</a>
            {% endif %}
            </span>
        </div>
    </div>
    <div class="offer-body">
        <div class="offer-desc">
            <b>Опис</b>
            <p>{{ offer.description }}</p>
        </div>
        <div class="offer-details">
            <img src="{{ offer.image.url }}">
            <div class="offer-date">
                {{ offer.created_at }}
            </div>
            <div class="offer-price">
                Ціна: {{ offer.price }} грн.
            </div>
        </div>
    </div>
</section>

<div class="confirmation-form-container">
    <div class="confirmation-text">
        Підтвердіть дані отримувача
    </div>
    
    <form action="" method="post">
        {% csrf_token %}


        <input type="text" name="buyer_first_name" placeholder="Ім'я" value="{{ user.first_name }}">
        <input type="text" name="buyer_last_name" placeholder="Прізвище" value="{{ user.second_name }}">
        <input type="text" name="buyer_email" placeholder="Електронна пошта" value="{{ user.email }}">
        <input type="text" name="buyer_city" placeholder="Місто" value="{{ user.city }}">
        <input type="text" name="buyer_location" placeholder="Адреса" value="{{ user.location }}">


        <button type="submit" value="Підтвердити">Підтвердити</button>
    </form>
</div>
</body>
</html>
