{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ offer.title }}</title>
    <link rel="stylesheet" href="{% static 'css/search-offer.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

{% include "header.html" %}


<section class="offer">
    <div class="offer-header">
        <div class="offer-titles">
            <div class="offer-title-cat">
                <span class="offer-title">
                    {{ offer.title }}
                </span>
                <span class="offer-category">
                    {{ offer.category }}
                </span>
            </div>
            <span class="offer-tags">
                {{ offer.tags }}
            </span>
        </div>
        <div class="seller-details">
            Продавець: 
            <span class="seller-name">
            {% if seller.first_name or seller.last_name %}
                <a href="http://127.0.0.1:8000/account/{{ seller.username }}"> {{ seller.first_name|capfirst }} {{ seller.last_name|capfirst }}</a>
            {% else %}
                <a href="http://127.0.0.1:8000/account/{{ seller.username }}"> {{ seller.username|capfirst }}</a>
            {% endif %}
            </span>
        </div>
    </div>
    <div class="offer-body">
        <div class="offer-desc">
            <b>Опис</b>
            <p>{{ offer.description }}</p>
        </div>
        <div class="offer-details">
            {% if offer.image %}
                <img src="{{ offer.image.url }}">
            {% else %}
                <img src="{% url "main" %}media/offers-images/no-image.png">
            {% endif %}
            <div class="offer-date">
                {{ offer.created_at }}
            </div>
            <div class="offer-price">
                Ціна: {{ offer.price }} грн.
            </div>
        </div>
    </div>
    <div class="buy-btn">
        <a href="http://127.0.0.1:8000/offers/makeoffer/{{ offer.id }}">Купити</a>
    </div>
</section>
</body>
</html>
